.сurrencies {
  background: #AFF0DE;
}

.currencies__cryptocurrency-container {
  margin: 40px auto 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  max-width: 940px;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.currencies__header {
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.currencies__error {
  margin: 0 10px 0 10px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: rgb(230, 0, 0);
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .currencies__cryptocurrency-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 620px;
  }
}

@media screen and (max-width: 720px) {
  .currencies__cryptocurrency-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 300px;
  }
}